## ITOM 6253 Assignment 4 Template v1
    #### Put your name here:  Xuelin Lin

**Q1:** Using pandas, import the hotels.csv and show the number of observations and columns.

In [2]:
import pandas as pd
import numpy as np

hotels = pd.read_csv("C:/Users/chent/Desktop/XUELIN/SMU/Model A/ITOM 6253 Programming For Analytics/Assignment/Week4/hotels.csv")
#find top 5 itesm and bottom 5 items
print(hotels.info())
print(hotels.head())
print(hotels.tail())

print(hotels.shape[0]) #observations:366644 
print(hotels.shape[1]) #columns: 31

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366644 entries, 0 to 366643
Data columns (total 31 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   hotel_code                366644 non-null  int64
 1   country_code              366644 non-null  object
 2   country_name              366644 non-null  object
 3   location_code             366644 non-null  int64
 4   location_name             366644 non-null  object
 5   hotel_type                366644 non-null  object
 6   rooms                     335223 non-null  float64
 7   bubble_rating             344126 non-null  float64
 8   bubble_one                366644 non-null  int64
 9   bubble_two                366644 non-null  int64
 10  bubble_three              366644 non-null  int64
 11  bubble_four               366644 non-null  int64
 12  bubble_five               366644 non-null  int64
 13  page_position             366602 non-null  float64
 14  out_of                    366602 non-null  float64
 15  reviews                   366644 non-null  int64
 16  domestic_reviews          366644 non-null  int64
 17  international_reviews     366644 non-null  int64
 18  reviews_per_room          335223 non-null  float64
 19  visitor_country1          366644 non-null  object
 20  visitor_country2          366644 non-null  object
 21  visitor_country3          366644 non-null  object
 22  management_response_rate  344281 non-null  float64
 23  independent_flag          366644 non-null  int64
 24  traffic                   366642 non-null  float64
 25  traffic_per_room          335221 non-null  float64
 26  OTA_region_rate           366644 non-null  float64
 27  subscriber                366644 non-null  int64
 28  hotel                     366644 non-null  int64
 29  BandB                     366644 non-null  int64
 30  Specialty                 366644 non-null  int64
dtypes: float64(9), int64(15), object(7)
memory usage: 86.7+ MB
None
   hotel_code country_code   country_name  location_code location_name  \
0           1          USA  United States          60880     Anchorage
1           2          USA  United States          28995      Anniston
2           3          USA  United States          29006        Auburn
3           4          USA  United States          30524       Fayette
4           5          USA  United States          30584  Guntersville

  hotel_type  rooms  bubble_rating  bubble_one  bubble_two  ...  \
0      Hotel  547.0            4.0          14          35  ...
1      Hotel   60.0            4.0           4           7  ...
2      B & B    5.0            5.0           1           1  ...
3      B & B    9.0            4.5           0           0  ...
4      B & B    4.0            2.5           5           1  ...

   visitor_country3  management_response_rate  independent_flag  traffic  \
0               AUS                  0.375919                 1  60643.0
1               CAN                  0.127451                 1   6971.0
2               CAN                  0.016393                 1   4405.0
3               RUS                  0.000000                 1    889.0
4               ROU                  0.000000                 1   1673.0

   traffic_per_room  OTA_region_rate  subscriber  hotel  BandB Specialty
0        110.864717       196.643125           1      1      0         0
1        116.183333       124.976060           0      1      0         0
2        881.000000        99.848333           1      0      1         0
3         98.777778       124.976060           0      0      1         0
4        418.250000       124.976060           0      0      1         0

[5 rows x 31 columns]
        hotel_code country_code country_name  location_code location_name  \
366639      366400          CHN        China         297407        Xiamen
366640      366401          CHN        China         297407        Xiamen
366641      366402          CHN        China         297407        Xiamen
366642      366403          CHN        China         297407        Xiamen
366643      366404          CHN        China         297407        Xiamen

       hotel_type  rooms  bubble_rating  bubble_one  bubble_two  ...  \
366639      Hotel    NaN            4.0           0           0  ...
366640      Hotel    NaN            4.0           0           0  ...
366641      Hotel    NaN            3.5           0           0  ...
366642      Hotel    NaN            4.0           0           0  ...
366643      Hotel  113.0            4.0           0           0  ...

        visitor_country3  management_response_rate  independent_flag  traffic  \
366639               TWN                       0.0                 1    117.0
366640               GBR                       0.0                 0     45.0
366641               CHN                       0.0                 1    722.0
366642               AUS                       0.0                 1     56.0
366643               GBR                       0.0                 0    112.0

        traffic_per_room  OTA_region_rate  subscriber  hotel  BandB Specialty
366639               NaN        63.581571           0      1      0         0
366640               NaN        63.581571           0      1      0         0
366641               NaN        63.581571           0      1      0         0
366642               NaN        63.581571           0      1      0         0
366643           0.99115        63.581571           0      1      0         0

[5 rows x 31 columns]
366644
31

**Q2:** Write a Python program to determine the number of hotel types and how many of each type.

In [3]:
#number of hotel type
hotels.hotel_type.nunique()

3

In [4]:
# hotels.groupby(['hotel_type']).hotel_type.nunique()

In [5]:
#how many each type
hotels.groupby(['hotel_type']).hotel_type.count()

hotel_type
B & B    119674
Hotel    184421
Other     62549
Name: hotel_type, dtype: int64

**Q3:** Using a dataframe.method1().method2() syntax, count the number of missing values in each column.

In [6]:
for column in hotels.columns:
    num = hotels[column].isnull().sum()
    print('{0:<30}'.format(column),  "               The number of mising values:", num)

hotel_code                                    The number of mising values: 0
country_code                                  The number of mising values: 0
country_name                                  The number of mising values: 0
location_code                                 The number of mising values: 0
location_name                                 The number of mising values: 0
hotel_type                                    The number of mising values: 0
rooms                                         The number of mising values: 31421
bubble_rating                                 The number of mising values: 22518
bubble_one                                    The number of mising values: 0
bubble_two                                    The number of mising values: 0
bubble_three                                  The number of mising values: 0
bubble_four                                   The number of mising values: 0
bubble_five                                   The number of mising values: 0
page_position                                 The number of mising values: 42
out_of                                        The number of mising values: 42
reviews                                       The number of mising values: 0
domestic_reviews                              The number of mising values: 0
international_reviews                         The number of mising values: 0
reviews_per_room                              The number of mising values: 31421
visitor_country1                              The number of mising values: 0
visitor_country2                              The number of mising values: 0
visitor_country3                              The number of mising values: 0
management_response_rate                      The number of mising values: 22363
independent_flag                              The number of mising values: 0
traffic                                       The number of mising values: 2
traffic_per_room                              The number of mising values: 31423
OTA_region_rate                               The number of mising values: 0
subscriber                                    The number of mising values: 0
hotel                                         The number of mising values: 0
BandB                                         The number of mising values: 0
Specialty                                     The number of mising values: 0

**Q4:** For this assignment let's define a continuous variable as any numeric (integer and float) variable that has more than 10 distinct values in its distribution. Produce a table showing the mean, standard deviation, skewness and kurtosis of all the continuous variables.

The first step is to identify all the numeric variables.

In [7]:
numeric_vars = hotels.select_dtypes(include = ['int64','float64'])
numeric_vars.head()

,hotel_code,location_code,rooms,bubble_rating,bubble_one,bubble_two,bubble_three,bubble_four,bubble_five,page_position,...,reviews_per_room,management_response_rate,independent_flag,traffic,traffic_per_room,OTA_region_rate,subscriber,hotel,BandB,Specialty
0,1,60880,547.0,4.0,14,35,89,233,307,4.0,...,1.978062,0.375919,1,60643.0,110.864717,196.643125,1,1,0,0
1,2,28995,60.0,4.0,4,7,11,30,36,1.0,...,1.683333,0.127451,1,6971.0,116.183333,124.976060,0,1,0,0
2,3,29006,5.0,5.0,1,1,1,11,105,1.0,...,22.600000,0.016393,1,4405.0,881.000000,99.848333,1,0,1,0
3,4,30524,9.0,4.5,0,0,0,3,1,2.0,...,0.444444,0.000000,1,889.0,98.777778,124.976060,0,0,1,0
4,5,30584,4.0,2.5,5,1,0,0,3,1.0,...,2.000000,0.000000,1,1673.0,418.250000,124.976060,0,0,1,0

In [8]:
continuous_vars = []
for col in numeric_vars.columns:
    if numeric_vars[col].nunique() > 10:
        continuous_vars.append(col)
        print(col, numeric_vars[col].nunique())

hotel_code 366644
location_code 54169
rooms 1018
bubble_one 321
bubble_two 300
bubble_three 474
bubble_four 843
bubble_five 1207
page_position 2272
out_of 646
reviews 2089
domestic_reviews 1400
international_reviews 1547
reviews_per_room 34485
management_response_rate 17691
traffic 38622
traffic_per_room 167521
OTA_region_rate 7343

Next, calculate the four moment statistics that interest us.

In [9]:
sta = numeric_vars[continuous_vars].agg(['mean','std','skew','kurt'])
print(sta)

        hotel_code  location_code       rooms   bubble_one   bubble_two  \
mean  1.833225e+05  523430.271080   51.498062     3.059930     3.301742
std   1.058412e+05  543237.556258   95.269292    12.272278    11.517430
skew -1.130672e-16       2.427386   12.419465    33.082025    25.459906
kurt -1.200000e+00       8.549454  460.486705  2848.224489  1781.237316

      bubble_three  bubble_four  bubble_five  page_position      out_of  \
mean      7.014199    17.221073    26.534543      48.547073  133.307404
std      22.555240    50.082025    82.753286     170.905910  417.102635
skew     24.158969    15.065432    16.435892       8.219367    6.729044
kurt   1669.979088   530.741498   580.735094      91.717439   56.277430

         reviews  domestic_reviews  international_reviews  reviews_per_room  \
mean   62.237023         30.749225              31.487797          3.610091
std   181.939113        100.788155             117.149850          9.204125
skew   15.451969         17.051120              17.301557         12.161772
kurt  510.789682        699.315595             541.757871        365.691739

      management_response_rate       traffic  traffic_per_room  \
mean                  0.044547   6899.611179        325.724082
std                   0.101389  25954.347748       1074.048503
skew                  2.635651     25.305050         33.731399
kurt                  6.351735   1460.523851       2919.317583

      OTA_region_rate
mean       122.465120
std         48.982905
skew         2.472800
kurt        18.056053

**Q5:** Find and replace all continuous variable outliers with missing values.

In [10]:
import numpy as np
for variable in continuous_vars:
    hotels[variable]=np.where(np.abs(hotels[variable]) > (hotels[variable].mean() + (3 * hotels[variable].std())), np.nan, hotels[variable])
print(hotels.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366644 entries, 0 to 366643
Data columns (total 31 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   hotel_code                366644 non-null  float64
 1   country_code              366644 non-null  object
 2   country_name              366644 non-null  object
 3   location_code             359390 non-null  float64
 4   location_name             366644 non-null  object
 5   hotel_type                366644 non-null  object
 6   rooms                     330539 non-null  float64
 7   bubble_rating             344126 non-null  float64
 8   bubble_one                362893 non-null  float64
 9   bubble_two                362265 non-null  float64
 10  bubble_three              361944 non-null  float64
 11  bubble_four               361314 non-null  float64
 12  bubble_five               361785 non-null  float64
 13  page_position             360178 non-null  float64
 14  out_of                    358792 non-null  float64
 15  reviews                   361588 non-null  float64
 16  domestic_reviews          361696 non-null  float64
 17  international_reviews     362132 non-null  float64
 18  reviews_per_room          329788 non-null  float64
 19  visitor_country1          366644 non-null  object
 20  visitor_country2          366644 non-null  object
 21  visitor_country3          366644 non-null  object
 22  management_response_rate  331594 non-null  float64
 23  independent_flag          366644 non-null  int64
 24  traffic                   362849 non-null  float64
 25  traffic_per_room          332213 non-null  float64
 26  OTA_region_rate           361289 non-null  float64
 27  subscriber                366644 non-null  int64
 28  hotel                     366644 non-null  int64
 29  BandB                     366644 non-null  int64
 30  Specialty                 366644 non-null  int64
dtypes: float64(19), int64(5), object(7)
memory usage: 86.7+ MB
None

**Q6:** Impute all continuous variable missing values with the means of those variables.

In [11]:
for variable in continuous_vars:
    hotels[variable].fillna(value = hotels[variable].mean(), inplace = True)
print(hotels.head(50))

    hotel_code country_code   country_name  location_code  location_name  \
0          1.0          USA  United States        60880.0      Anchorage
1          2.0          USA  United States        28995.0       Anniston
2          3.0          USA  United States        29006.0         Auburn
3          4.0          USA  United States        30524.0        Fayette
4          5.0          USA  United States        30584.0   Guntersville
5          6.0          USA  United States        30677.0        Madison
6          7.0          USA  United States        30709.0         Mobile
7          8.0          USA  United States        30712.0     Montgomery
8          9.0          USA  United States        30712.0     Montgomery
9         10.0          USA  United States        30781.0         Pisgah
10        11.0          USA  United States        30832.0          Selma
11        12.0          USA  United States        60880.0      Anchorage
12        13.0          USA  United States        60880.0      Anchorage
13        14.0          USA  United States        60880.0      Anchorage
14        15.0          USA  United States        60880.0      Anchorage
15        16.0          USA  United States        60880.0      Anchorage
16        17.0          USA  United States        60880.0      Anchorage
17        18.0          USA  United States        60880.0      Anchorage
18        19.0          USA  United States        29022.0         Angoon
19        20.0          USA  United States        30940.0         Barrow
20        21.0          USA  United States        60562.0  Teton Village
21        22.0          USA  United States        30955.0     Chickaloon
22        23.0          USA  United States        30982.0    Eagle River
23        24.0          USA  United States        60826.0      Fairbanks
24        25.0          USA  United States        60503.0        Laramie
25        26.0          USA  United States        60826.0      Fairbanks
26        27.0          USA  United States        60826.0      Fairbanks
27        28.0          USA  United States        60826.0      Fairbanks
28        29.0          USA  United States        60826.0      Fairbanks
29        30.0          USA  United States        60491.0        Jackson
30        31.0          USA  United States        60826.0      Fairbanks
31        32.0          USA  United States        60826.0      Fairbanks
32        33.0          USA  United States        31000.0       Girdwood
33        34.0          USA  United States        60442.0           Cody
34        35.0          USA  United States        60833.0       Gustavus
35        36.0          USA  United States        60833.0       Gustavus
36        37.0          USA  United States        60430.0        Buffalo
37        38.0          USA  United States        60833.0       Gustavus
38        39.0          USA  United States        30353.0         Alpine
39        40.0          USA  United States        31005.0         Haines
40        41.0          USA  United States        31007.0          Healy
41        42.0          USA  United States        31007.0          Healy
42        43.0          USA  United States        31009.0          Homer
43        44.0          USA  United States        29003.0         Athens
44        45.0          USA  United States        31009.0          Homer
45        46.0          USA  United States        31009.0          Homer
46        47.0          USA  United States        31020.0         Juneau
47        48.0          USA  United States        31020.0         Juneau
48        49.0          USA  United States        31020.0         Juneau
49        50.0          USA  United States        60269.0        Shawano

   hotel_type       rooms  bubble_rating  bubble_one  bubble_two  ...  \
0       Hotel   44.751821            4.0        14.0        35.0  ...
1       Hotel   60.000000            4.0         4.0         7.0  ...
2       B & B    5.000000            5.0         1.0         1.0  ...
3       B & B    9.000000            4.5         0.0         0.0  ...
4       B & B    4.000000            2.5         5.0         1.0  ...
5       B & B    3.000000            NaN         0.0         0.0  ...
6       Hotel    6.000000            NaN         0.0         0.0  ...
7       B & B    4.000000            5.0         0.0         0.0  ...
8       B & B    4.000000            5.0         1.0         0.0  ...
9       B & B    6.000000            4.5         2.0         0.0  ...
10      B & B   30.000000            NaN         0.0         0.0  ...
11      B & B    5.000000            1.0         1.0         0.0  ...
12      B & B    3.000000            4.0         0.0         5.0  ...
13      B & B    5.000000            5.0         0.0         0.0  ...
14      B & B    5.000000            NaN         0.0         0.0  ...
15      B & B    2.000000            NaN         0.0         0.0  ...
16      B & B    9.000000            4.5         0.0         0.0  ...
17      B & B    2.000000            NaN         0.0         0.0  ...
18      B & B   21.000000            5.0         0.0         0.0  ...
19      B & B   19.000000            4.0         1.0         1.0  ...
20      B & B   83.000000            3.0        25.0        29.0  ...
21      B & B    3.000000            NaN         0.0         0.0  ...
22      B & B   29.000000            NaN         0.0         0.0  ...
23      B & B   11.000000            2.5        27.0        12.0  ...
24      Hotel   30.000000            3.5         6.0         3.0  ...
25      B & B    8.000000            4.5         0.0         2.0  ...
26      B & B    8.000000            4.5         2.0         4.0  ...
27      B & B    2.000000            4.5         0.0         0.0  ...
28      B & B    4.000000            2.0         0.0         1.0  ...
29      Hotel  153.000000            4.5        19.0        24.0  ...
30      B & B    5.000000            2.5         2.0         2.0  ...
31      B & B   10.000000            4.5         3.0         8.0  ...
32      B & B    4.000000            NaN         0.0         0.0  ...
33      B & B   40.000000            3.0         7.0        11.0  ...
34      B & B   11.000000            4.5         0.0         0.0  ...
35      B & B   20.000000            5.0         1.0         0.0  ...
36      Hotel   50.000000            3.0         3.0         8.0  ...
37      Hotel   14.000000            5.0         0.0         0.0  ...
38      Hotel   58.000000            4.5         5.0         5.0  ...
39      B & B    4.000000            2.0         4.0         3.0  ...
40      B & B    7.000000            4.5         1.0         6.0  ...
41      Other   11.000000            4.5         1.0         4.0  ...
42      B & B    3.000000            4.5         2.0         0.0  ...
43      Hotel   51.000000            1.5        20.0         1.0  ...
44      B & B    6.000000            5.0         2.0         0.0  ...
45      B & B    4.000000            NaN         0.0         0.0  ...
46      B & B    2.000000            4.0         2.0         0.0  ...
47      B & B   26.000000            NaN         0.0         0.0  ...
48      B & B    6.000000            4.5         2.0         3.0  ...
49      Hotel   89.000000            4.0         2.0         1.0  ...

    visitor_country3  management_response_rate  independent_flag  traffic  \
0                AUS                  0.030155                 1  60643.0
1                CAN                  0.127451                 1   6971.0
2                CAN                  0.016393                 1   4405.0
3                RUS                  0.000000                 1    889.0
4                ROU                  0.000000                 1   1673.0
5                ROU                  0.030155                 1    789.0
6                CAN                  0.030155                 1    367.0
7                ITA                  0.032520                 1   4352.0
8                CAN                  0.017857                 1   6345.0
9                JPN                  0.000000                 1   3988.0
10               GBR                  0.030155                 1    952.0
11               RUS                  0.000000                 1    298.0
12               GBR                  0.068966                 1   1035.0
13               USA                  0.000000                 1    669.0
14               EGY                  0.030155                 1    172.0
15               CHE                  0.030155                 1    234.0
16               GBR                  0.000000                 1   4826.0
17               THA                  0.030155                 1    201.0
18               GBR                  0.000000                 1    609.0
19               ITA                  0.000000                 1   6792.0
20               IND                  0.021390                 1  11919.0
21               ROU                  0.030155                 1    446.0
22               GBR                  0.030155                 1    397.0
23               CAN                  0.013333                 1   1854.0
24               CHN                  0.000000                 1   5620.0
25               GBR                  0.015873                 1   8928.0
26               CAN                  0.092593                 1   1950.0
27               CHN                  0.000000                 1    421.0
28               RUS                  0.000000                 1    176.0
29               CAN                  0.118248                 0  77182.0
30               IND                  0.000000                 1    773.0
31               AUS                  0.090361                 1   3968.0
32               IRL                  0.030155                 1    310.0
33               NLD                  0.030303                 1   1784.0
34               ECU                  0.000000                 1   1617.0
35               AUS                  0.000000                 1   1072.0
36               CAN                  0.250000                 0   3305.0
37               DEU                  0.000000                 1   7396.0
38               CAN                  0.081250                 1   9833.0
39               GBR                  0.000000                 1    618.0
40               AUS                  0.019512                 1   8157.0
41               AUS                  0.100000                 1   4658.0
42               ITA                  0.044444                 1   1670.0
43               BRA                  0.030155                 1   2569.0
44               CAN                  0.200000                 1   4479.0
45               SGP                  0.030155                 1     82.0
46               ITA                  0.000000                 1    758.0
47               ZAF                  0.030155                 1    161.0
48               NZL                  0.000000                 1   1746.0
49               CAN                  0.142857                 1   3011.0

    traffic_per_room  OTA_region_rate  subscriber  hotel  BandB Specialty
0         110.864717       196.643125           1      1      0         0
1         116.183333       124.976060           0      1      0         0
2         881.000000        99.848333           1      0      1         0
3          98.777778       124.976060           0      0      1         0
4         418.250000       124.976060           0      0      1         0
5         263.000000        92.361667           0      0      1         0
6          61.166667       100.804200           0      1      0         0
7        1088.000000        87.274255           1      0      1         0
8        1586.250000        87.274255           0      0      1         0
9         664.666667       124.976060           0      0      1         0
10         31.733333        92.656000           0      0      1         0
11         59.600000       196.643125           0      0      1         0
12        345.000000       196.643125           0      0      1         0
13        133.800000       196.643125           0      0      1         0
14         34.400000       196.643125           0      0      1         0
15        117.000000       196.643125           0      0      1         0
16        536.222222       196.643125           0      0      1         0
17        100.500000       196.643125           0      0      1         0
18         29.000000       124.976060           0      0      1         0
19        357.473684       124.976060           1      0      1         0
20        143.602410       119.264723           1      0      1         0
21        148.666667       124.976060           0      0      1         0
22         13.689655       124.976060           0      0      1         0
23        168.545455       139.941429           0      0      1         0
24        187.333333        95.073750           0      1      0         0
25       1116.000000       139.941429           1      0      1         0
26        243.750000       139.941429           1      0      1         0
27        210.500000       139.941429           0      0      1         0
28         44.000000       139.941429           0      0      1         0
29        504.457516       222.961667           1      1      0         0
30        154.600000       139.941429           0      0      1         0
31        396.800000       139.941429           0      0      1         0
32         77.500000       124.976060           0      0      1         0
33         44.600000       155.152500           0      0      1         0
34        147.000000       124.976060           0      0      1         0
35         53.600000       124.976060           0      0      1         0
36         66.100000        96.758571           1      1      0         0
37        528.285714       124.976060           1      1      0         0
38        169.534483       124.976060           0      1      0         0
39        154.500000       124.976060           0      0      1         0
40       1165.285714       124.976060           1      0      1         0
41        423.454545       124.976060           0      0      0         1
42        556.666667       124.976060           0      0      1         0
43         50.372549        85.412500           0      1      0         0
44        746.500000       124.976060           1      0      1         0
45         20.500000       124.976060           0      0      1         0
46        379.000000       162.039000           0      0      1         0
47          6.192308       162.039000           0      0      1         0
48        291.000000       162.039000           0      0      1         0
49         33.831461       124.976060           0      1      0         0

[50 rows x 31 columns]

Note that bubble_rating still has missing values because it only has five distinct values and should not be treated as a continuous numeric variable. It is not entirely categorical either but rather it is a discrete numeric variable where statistics such as mean have meaning.

**Q7:** How has the kurtosis changed for each of the variables that had outliers removed and then imputed?

Be sure that all the kurtosis values are less than those before outlier removal.

In [12]:
sta1 = pd.DataFrame(hotels[continuous_vars].agg(['mean','std','skew','kurt']))
diff = sta1.loc['kurt',] - sta.loc['kurt',]
print(diff)

hotel_code                     0.000000
location_code                 -6.518027
rooms                       -453.702782
bubble_one                 -2830.863212
bubble_two                 -1766.560162
bubble_three               -1656.113561
bubble_four                 -517.737278
bubble_five                 -567.478862
page_position                -71.491571
out_of                       -37.885511
reviews                     -497.591396
domestic_reviews            -684.093354
international_reviews       -523.438814
reviews_per_room            -354.457066
management_response_rate       1.264865
traffic                    -1439.484785
traffic_per_room           -2901.913763
OTA_region_rate              -16.997912
Name: kurt, dtype: float64